<div class="container">
    <h1 id="heading">SIGNIN FORM</h1>
    <div class="formDiv">
    
    <form class="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" name="user.email" [(ngModel)]="user.email">
          </div>
            <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="user.pass" [(ngModel)]="user.pass">
      </div>
        <button type="submit" class="btn btn-primary" (click)="userSignIn()">Sign In</button>
    </form>
    <h5>Not Registered!   Go to <a routerLink='/signup'>Sign Up Page</a></h5>

    </div>
    </div>
    