<div class="container">
<h1 id="heading">SIGNUP FORM</h1>
<div class="formDiv">

<form class="form">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" placeholder="Enter name" name="name" [(ngModel)]="name">
    <!-- <span appValidator class="valid_error" *ngIf="name_valid && user.name  != ''">valid</span>
    <span appValidator class="invalid_error" *ngIf="!name_valid && user.name  != ''">Invalid</span> -->
</div>
  <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" placeholder="Enter phone" name="phone" [(ngModel)]="phone">
      </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="email" >
          </div>
        <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password" name="pass" [(ngModel)]="pass" >
  </div>
  <div class="form-group">
      <label for="confirm-password">ReEnter-Password</label>
      <input type="password" class="form-control" placeholder="Confirm-Password" name="rePass" [(ngModel)]="rePass">
      </div>
    <button type="submit" class="btn btn-primary" (click)="userSignUp()">Sign Up</button>
    <!-- <button type="submit" class="btn btn-primary">Sign Up</button> -->
</form>

<h5>Already Registered!   Go to <a routerLink='/signin'>Login Page</a></h5>

</div>
</div>
